.basketItem {
	display: flex;
	align-items: top;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	margin-right: 30px;
}

.basketItem__image {
	height: 100%;
	width: 100px;
	max-height: 180px;
	object-fix:contain;
	margin-left: 20px;
	margin-right: 10px;
}


.basketItem__info {
	margin: 0;
	vertical-align: top;
	flex:1;
}

.basketItem__text {
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
}

.basketItem__price {
	margin-top: 0px;
	margin-bottom: 0px;
}

.basketItem__rating {
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
}

.basketItem__rating__star {
	margin-top: 0px;
	margin-bottom: 0px;
}
.basketItem__info__container {
	display: flex;
	flex-direction:column;
	
}
.basketItem__button__container {
	margin-bottom: 10px;
}

.basketItem__button{
	background: #f0c14b;
	border-radius:5px;
	border: 1px solid;
	width: 150px;
	height: 20px;
	margin-top: 5px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}




